# Node.js dependencies
node_modules/

# Build folders
dist/
build/

# Python virtual environments
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store
